@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shopify-buy__btn {
    color: blue
  }
}

@font-face {
  font-family: "Squeezy";
  src: url("/fonts/SqueezyVF.woff2");
  font-display: block;
}

@font-face {
  font-display: swap;
  font-family: 'TT_Neoris';
  src: url('/fonts/TT_Neoris_Variable.woff2');
}

*::selection {
  color: var(--foreground);
  background: rgba(0, 0, 0, 0);
}

:root {
  --background: #009460;
  --foreground: #FFD56C;
  --foreground-shade-30: #4DA864;
  --foreground-shade-20: #33A162;
  --foreground-shade-10: #199B61;
}

html {
  font-family: 'TT_Neoris, sans-serif';
  font-feature-settings: 'ss05' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-variation-settings: 'ital' 1;
}

body {
  font-family: 'TT_Neoris, sans-serif';
  font-feature-settings: 'ss05' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 480;
  font-variation-settings: 'ital' 1;
  background: var(--background);
  color: var(--foreground);

  /* THEMES */

  &.yellowRed {
    --background: #EF3A33;
    --foreground: #E9FF95;
    --foreground-shade-30: #ED7F55;
    --foreground-shade-20: #ED6B4C;
    --foreground-shade-10: #EE5842;
  }

  &.yellowPurple {
    --background: #B200A1;
    --foreground: #FFD56C;
    --foreground-shade-30: #CD4B8E;
    --foreground-shade-20: #C53594;
    --foreground-shade-10: #BE2099;
  }
  
  &.yellowGreen {
    --background: #009460;
    --foreground: #FFD56C;
    --foreground-shade-30: #4DA864;
    --foreground-shade-20: #33A162;
    --foreground-shade-10: #199B61;
  }

  &.yellowBlue {
    --background: #1B2B79;
    --foreground: #FFF36E;
    --foreground-shade-30: #5F6776;
    --foreground-shade-20: #495377;
    --foreground-shade-10: #323F78;
  }
}