.main {
  @apply relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 100dvh;
  margin: 0 auto; */
  /* cursor: crosshair; */
  overflow: auto;
  height: 100dvh;
  scroll-snap-type: y mandatory;

  > section {
    scroll-snap-align: start;
  }

  --variable-lines-font-size: 90vh;
  --letter-ratio-min: 0.5872106262;
  --letter-ratio-max: 1.0880125;

  @media (orientation: portrait) {
    --variable-lines-font-size: calc(90vw / 1.0880125);
  }
}

.heading {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading h1 {
  font-family: "Squeezy";
  font-size: 13vw;
  line-height: 13vw;
  text-align: center;
  font-variation-settings: "wdth" 400;
  animation: vars 4s infinite cubic-bezier(0.25, 0, 0, 1) both;
  animation-delay: var(--delay);
}

@keyframes vars {
  0% {
     font-variation-settings: "wdth" 400;
  }
    
  25% {
   font-variation-settings: "wdth" 700;
  } 
  
 50% {
    font-variation-settings: "wdth" 500;
  } 
  
  75% {
    font-variation-settings: "wdth" 600;
  } 
  
  100% {
    font-variation-settings: "wdth" 400;
  }
}


.heading p {
  font-family: 'TT_Neoris', sans-serif;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.variableLines {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accessButton {
  position: fixed;
  border-radius: 500px;
  bottom: 16px;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, 0);
  z-index: 30;
  padding: 8px 16px;
  font-weight: bold;
  background: var(--foreground);
  color: var(--background);
}

.header,
.width {
  color: var(--foreground);
  font-family: "Helvetiva", sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
  cursor: default;
  line-height: 1;
  /* mix-blend-mode: difference; */
  /* filter: invert(100%); */
}

.header {
  top: 12px;
  padding: 0 12px;
  /* background: black; */
  /* border-radius: 24px; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    font-size: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
  }
}

.header path {
  fill: var(--foreground);
}


.themeSwitch {
  box-sizing: content-box;
  position: relative;
  display: flex;
  border-radius: 100px;
  /* padding: 4px; */
  background: black;
  gap: 4px;
  height: 12px;
  transition: width .2s cubic-bezier(0.25,0,0,1);

  &:before {
    content: "";
    background: black;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 24px;
    transition-property: opacity, left, top, bottom, right;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.25,0,0,1);
  }

  &:not(:hover) {
    &:before {
      opacity: 0;
      /* top: 0;
      left: 0;
      right: 0;
      bottom: 0; */
    }
    
    width: 12px !important;
    .switch {
      left: 0!important
    }
  }
}

.switch {
  height: 12px;
  width: 12px;
  position: absolute;
  left: 0;
  top: 0;
  transition: width .2s cubic-bezier(0.25,0,0,1), left .2s cubic-bezier(0.25,0,0,1);
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 12px;
    transform: scale(0.5);
    transition: transform .2s cubic-bezier(0.25,0,0,1);
  }

  &:hover, &.active {
    &:before {
      transform: scale(1);
    }
  }

  &.active {
    z-index: 10;
  }

  &:global(.red) {
    &:before {
      background: var(--red-foreground);
    }
  }

  &:global(.blue) {
    &:before {
      background: var(--blue-foreground);
    }
  }

  &:global(.pink) {
    &:before {
      background: var(--pink-foreground);
    }
  }

  &:global(.black) {
    &:before {
      background: var(--black-foreground);
    }
  }
}

.width {
  position: absolute;
  bottom: 12px;
}

.widthLinesRight,
.widthLinesLeft {
  position: absolute;
  bottom: 12px;

  display: flex;
  justify-content: space-between;
}

.widthLinesRight {
  left: 50%;
  transform: translate(
    calc(var(--variable-lines-font-size) * var(--letter-ratio-min) / 2),
    0
  );
  width: calc(
    var(--variable-lines-font-size) * (var(--letter-ratio-max) - 0.609) / 2
  );
}

.widthLinesLeft {
  right: 50%;
  transform: translate(
      calc(var(--variable-lines-font-size) * var(--letter-ratio-min) / -2),
      0
    )
    scaleX(-1);
  width: calc(
    var(--variable-lines-font-size) * (var(--letter-ratio-max) - 0.6072106262) /
      2
  );
}

.widthLine {
  height: 12px;
  width: 1px;
  background-color: var(--foreground);
  opacity: 0.1;
  transition: opacity 0.2s ease;

  &.active {
    opacity: 0.8;
  }
}

.letters {
  font-size: var(--variable-lines-font-size);
  width: 1.0880125em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  cursor: default;
  position: absolute;
  font-family: "Squeezy";
  text-align: center;
  font-variation-settings: "wdth" 400;
  font-size: inherit;
  line-height: 1;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 0.00625em var(--foreground);

  &.letter1 {
    /* opacity: 0.3; */
    /* -webkit-text-stroke: 5px #333333; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-30);
  }

  &.letter2 {
    /* opacity: 0.2; */
    /* -webkit-text-stroke: 5px #1a1a1a; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-20);
  }

  &.letter3 {
    /* opacity: 0.1; */
    /* -webkit-text-stroke: 5px #0d0d0d; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-10);
  }

  /* &:nth-child(2) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
    }

    &:nth-child(3) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
    } */
}

/* button {
    position: absolute;
    z-index: 10;
    background: orange;
  } */

.editor {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  padding-top: 10vh;
  box-sizing: border-box;
  /* background: var(--foreground-shade-30); */
  /* background: var(--foreground); */
}

.editableArea {
  width: 100%;
  font-size: 80px;
  font-family: "Squeezy";
  text-align: center;
  line-height: 0.75;
  /* color: var(--background); */

  &::selection {
    color: var(--foreground-shade-30);
    /* opacity: 0.5; */
  }

  &:focus {
    outline: none;
  }

  @media screen(md) {
    font-size: 150px;
  }

  &:empty:before {
    content: "Type sth...";
    cursor: pointer;
    color: var(--foreground-shade-30)
  }
}

.gridContainer {
  width: 100%;
  font-family: "Squeezy";
  position: relative;
  z-index: 21;
  background-color: var(--background);
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 100px;
  font-size: clamp(100px, 10vw, 260px);
}

.gridItem {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  min-height: 16vw; /* Almost square*/

  &:hover,
  &.active {
    background: var(--foreground-shade-20);
  }
}

.gridShowcase {
  --variable-lines-font-size: clamp(300px, 30vw, 800px);

  /* &.narrow {
    --letter-ratio-min: 0.3547232;
    --letter-ratio-max: 0.5838095;
  }

  &.wide {
    --letter-ratio-min: 1.0141055;
    --letter-ratio-max: 1.8036036;
  } */

  font-size: var(--variable-lines-font-size);
  /* font-size: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--foreground);
  color: var(--background);
  /* color: rgba(0, 0, 0, 0.5); */
  height: 100dvh;
  position: sticky;
  top: 0;
  text-align: center;
  overflow: hidden;

  /* .widthLinesLeft,
  .widthLinesRight {
  } */

  .width {
    position: absolute;
    color: var(--background);
  }

  .widthLine {
    background: var(--background);
  }

  /* .widthLinesRight {
    transform: translate(
      calc(var(--variable-lines-font-size) * 0.6072106262 / 2),
      0
    );
    width: calc(
      var(--variable-lines-font-size) * (1.0880125 - 0.6072106262) / 2
    );
  }

  .widthLinesLeft {
    right: 50%;
    transform: translate(
        calc(var(--variable-lines-font-size) * 0.6072106262 / -2),
        0
      )
      scaleX(-1);
    width: calc(
      var(--variable-lines-font-size) * (1.0880125 - 0.6072106262) / 2
    );
  } */
}

@media (max-width: 500px) {
  .gridContainer {
    display: flex;

    flex-direction: column-reverse;
    position: relative;
  }

  .gridShowcase {
    height: 50dvh;

    --variable-lines-font-size: 200px;
  }
}

.showcasedLetter {
  display: inline-block;
  position: relative;
  /* background: red; */
}

.gridLines {
  > * {
    position: absolute;
    background: var(--background);
    opacity: 0.1;
    /* transition: transform 0.2s ease-in-out; */
  }

  .left,
  .right {
    width: 1px;
    height: 100vh;
    top: 50%;
  }

  .centerLeft,
  .centerRight,
  .centerTwoLeft,
  .centerTwoRight {
    width: 1px;
    height: 100vh;
    top: 50%;
    left: 50%;
  }

  .top,
  .bottom,
  .centerTop,
  .centerBottom,
  .centerTwoTop,
  .centerTwoBottom,
  .centerWideTop,
  .centerWideBottom,
  .outerTop,
  .outerBottom {
    height: 1px;
    width: 100vw;
    left: 50%;
    top: 50%;
  }

  .top {
    transform: translate(-50%, -0.35em);
  }

  .bottom {
    transform: translate(-50%, 0.35em);
  }

  .centerTop,
  .centerBottom,
  .centerTwoTop,
  .centerTwoBottom,
  .centerWideTop,
  .centerWideBottom,
  .centerLeft,
  .centerRight,
  .centerTwoLeft,
  .centerTwoRight,
  .outerTop,
  .outerBottom {
    display: none;
  }

  .left {
    transform: translate(0.01em, -50%);
    left: 0;
  }

  .right {
    transform: translate(-0.01em, -50%);
    right: 0;
    /* transform: translate(0.5075em, -50%); */
  }

  &.centerSlit {
    .centerLeft,
    .centerRight {
      display: block;
    }

    .centerLeft {
      transform: translate(-0.01333em, -50%);
    }

    .centerRight {
      transform: translate(0.01em, -50%);
    }
  }

  &.centerWideGap,
  &.centerWideBottomEdge {
    .centerWideTop {
      transform: translate(-50%, -0.05em);
    }

    .centerWideBottom {
      transform: translate(-50%, 0.0433em);
    }
  }

  &.centerWideBottomEdge {
    .centerWideBottom {
      display: block;
    }
  }

  &.centerWideGap {
    .centerWideTop,
    .centerWideBottom {
      display: block;
    }
  }

  &.centerGap,
  &.centerBottomEdge,
  &.centerTopEdge {
    .centerTop {
      transform: translate(-50%, -0.01333em);
    }

    .centerBottom {
      transform: translate(-50%, 0.01em);
    }
  }

  &.centerTopEdge {
    .centerTop {
      display: block;
    }
  }

  &.centerBottomEdge {
    .centerBottom {
      display: block;
    }
  }

  &.centerGap {
    .centerTop,
    .centerBottom {
      display: block;
    }
  }

  &.topGap {
    .centerTop,
    .centerBottom {
      display: block;
    }

    .centerTop {
      transform: translate(-50%, -0.1366em);
    }

    .centerBottom {
      transform: translate(-50%, -0.11em);
    }
  }

  &.topEnclosed {
    .outerTop {
      display: block;
      transform: translate(-50%, -0.2633em);
    }
  }

  &.bottomGap,
  &.bottomGapTopEdge {
    .centerTwoTop {
      transform: translate(-50%, 0.108em);
    }

    .centerTwoBottom {
      transform: translate(-50%, 0.132em);
    }
  }

  &.bottomGap {
    .centerTwoTop,
    .centerTwoBottom {
      display: block;
    }
  }

  &.bottomGapTopEdge {
    .centerTwoTop {
      display: block;
    }
  }

  &.topEnclosed {
    .outerTop {
      display: block;
      transform: translate(-50%, -0.2633em);
    }
  }

  &.bottomEnclosed {
    .outerBottom {
      display: block;
      transform: translate(-50%, 0.26em);
    }
  }

  &.doubleSlit {
    .centerLeft,
    .centerRight,
    .centerTwoLeft,
    .centerTwoRight {
      display: block;
    }

    .centerLeft {
      transform: translate(-0.0766em, 0);
    }

    .centerRight {
      transform: translate(-0.0533em, 0);
    }

    .centerTwoLeft {
      transform: translate(0.0733em, 0);
    }

    .centerTwoRight {
      transform: translate(0.05em, 0);
    }

    &.wide {
      .centerLeft {
        transform: translate(-0.1666em, 0);
      }

      .centerRight {
        transform: translate(-0.1433em, 0);
      }

      .centerTwoLeft {
        transform: translate(0.1633em, 0);
      }

      .centerTwoRight {
        transform: translate(0.14em, 0);
      }
    }
  }
}