.main {
  @apply relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 100vh;
  margin: 0 auto; */
  /* cursor: crosshair; */
}

.variableLines {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accessButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 30;
  padding: 10px;
  background: var(--foreground);
  color: var(--background);
}

.title,
.width {
  color: var(--foreground);
  font-family: "Helvetiva", sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
  cursor: default;
}

.title {
  top: 12px;
}

.width {
  bottom: 12px;
}

.grids {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.grid {
  /* pointer-events: none; */
  display: flex;
  /* width: 0.48em; */
  /* gap: 12px; */

  &:last-child .gridLine {
    border-left: none;
    /* border-right: 1px solid rgba(255, 255, 255, 0.12); */
  }
}

.gridLine {
  /* pointer-events: none; */
  /* width: 12px; */
  width: 100%;
  /* background: green;
  opacity: 0.4; */

  /* border-left: 1px solid rgba(255, 255, 255, 0.12); */
  /* transition: border 0.2s ease; */
}

/* .gridLine:hover {
  border-color: rgba(255, 255, 255, 0.3) !important;
} */

.letters {
  font-size: 90vh;

  @media (orientation: portrait) {
    font-size: calc(90vw / 1.0880125);
  }
  /* pointer-events: none; */
  /* position: absolute; */
  width: 1.0880125em;
  height: 100%;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  position: absolute;
  font-family: "Squeezy";
  text-align: center;
  font-variation-settings: "wdth" 400;
  font-size: inherit;
  line-height: 1;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 0.00625em var(--foreground);

  &.letter1 {
    /* opacity: 0.3; */
    /* -webkit-text-stroke: 5px #333333; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-30);
  }

  &.letter2 {
    /* opacity: 0.2; */
    /* -webkit-text-stroke: 5px #1a1a1a; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-20);
  }

  &.letter3 {
    /* opacity: 0.1; */
    /* -webkit-text-stroke: 5px #0d0d0d; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-10);
  }

  /* &:nth-child(2) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
    }

    &:nth-child(3) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
    } */
}

/* button {
    position: absolute;
    z-index: 10;
    background: orange;
  } */

.editor {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 10vh;
  box-sizing: border-box;
}

.editableArea {
  width: 100%;
  font-size: 300px;
  font-family: "Squeezy";
  text-align: center;
  line-height: 0.75;

  &::selection {
    background: var(--foreground-shade-30);
  }

  &:focus {
    outline: none;
  }
}
