.main {
  @apply relative md:snap-y md:scroll-smooth;

  overflow-y: scroll;
  height: 100dvh;

  > section {
    @apply md:snap-start;
  }

  --variable-lines-font-size: 90vh;
  --letter-ratio-min: 0.5872106262;
  --letter-ratio-max: 1.0880125;

  @media (orientation: portrait) {
    --variable-lines-font-size: calc(90vw / 1.0880125);
  }
}

.left {
  font-family: "Squeezy";
  text-align: center;
  font-variation-settings: "wdth" 400;
  animation: left 4s infinite cubic-bezier(0.25, 0, 0, 1) both;
  animation-delay: var(--delay);
}

.right {
  font-family: "Squeezy";
  /* font-size: 2rem;
  line-height: 2rem; */
  text-align: center;
  font-variation-settings: "wdth" 400;
  animation: right 4s infinite cubic-bezier(0.25, 0, 0, 1) both;
  animation-delay: var(--delay);
}
@keyframes left {
  0% {
     font-variation-settings: "wdth" 400;
  }
    
  25% {
   font-variation-settings: "wdth" 700;
  } 
  
 50% {
    font-variation-settings: "wdth" 500;
  } 
  
  75% {
    font-variation-settings: "wdth" 600;
  } 
  
  100% {
    font-variation-settings: "wdth" 400;
  }
}

@keyframes right {
  0% {
     font-variation-settings: "wdth" 700;
  }
    
  25% {
   font-variation-settings: "wdth" 400;
  } 
  
 50% {
    font-variation-settings: "wdth" 600;
  } 
  
  75% {
    font-variation-settings: "wdth" 500;
  } 
  
  100% {
    font-variation-settings: "wdth" 700;
  }
}


.variableLines {
  position: relative;
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accessButtonContainer {
  &:before {
    content: "";
    position: fixed;
    inset: 0;
    background: var(--background);
    opacity: 0.5;
  }
}

.accessButton {
  background: var(--foreground);
  color: var(--background);
}

.header {
  color: var(--foreground);
  font-family: "TT_Neoris", sans-serif;
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
  cursor: default;
  /* mix-blend-mode: difference; */
  /* filter: invert(100%); */;
  padding: 24px;
  display: flex;
  line-height: 1;
  justify-content: space-between;
  align-items: center;
}

.header path.logo {
  fill: var(--foreground);
}

.footer {
  position: sticky;
  display: flex;
  gap: 0 1rem;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  font-family: 'TT_Neoris';
  bottom: 0;
  z-index: 50;
  width: 100%;
}

.themeSwitch {
  position: relative;
  box-sizing: content-box;
  display: flex;
  border-radius: 100px;
  gap: 6px;

  /* &:before {
    content: "";
    background: black;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 24px;
    transition-property: opacity, left, top, bottom, right;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.25,0,0,1);
  } */

  &:hover .switch.active:before {
    opacity: 1;
  }

  
  &:hover .switch[data-index="1"],
  &:hover .switch[data-index="2"],
  &:hover .switch[data-index="3"],
  &:hover .switch[data-index="4"],
  &:hover .switch[data-index="5"] {
    margin-left: 0px;
  }

  &:hover .switch.active,
  &:hover .switch.active,
  &:hover .switch.active {
    margin-inline: 4px;
  }

  &:hover .switch.active {
    /* outline: 2px solid var(--foreground);
    border: 2px solid var(--foreground-shade-20);
    box-shadow: 0 0 2px var(--foreground-shade-20);
     */
     &[data-index="0"] {
      z-index: 7;
    }
     &[data-index="1"] {
      z-index: 6;
    }
    &[data-index="2"] {
      z-index: 5;
    }
    &[data-index="3"] {
      z-index: 4;
    }
    &[data-index="4"] {
      z-index: 3;
    }
    &[data-index="5"] {
      z-index: 2;
    }
  }
}

.switch {
  position: relative;
  height: 16px;
  width: 16px;
  transition: all .2s cubic-bezier(0.25,0,0,1);
  cursor: pointer;
  transition: margin 0.3s ease;
  border-radius: 999px;
  z-index: 5;
  box-shadow: 0 0 0 2px var(--foreground-shade-20);

  /* &.active {
    margin-left: -10px;
    margin-right: -10px;
  } */

  &.active:before, &:hover:before {
    transition: opacity 0.3s cubic-bezier(0.25,0,0,1);
    opacity: 0;
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background-color: transparent;
    border: 2px solid var(--foreground);
    border-radius: 100%;
    top: -4px;
    left: -4px;
    z-index: 0;
  }

  &[data-index="1"],
  &[data-index="2"],
  &[data-index="3"],
  &[data-index="4"],
  &[data-index="5"] {
    margin-left: -12px;
  }

  &[data-index="0"] {
    z-index: 7;
  }
  &[data-index="1"] {
    z-index: 6;
  }
  &[data-index="2"] {
    z-index: 5;
  }
  &[data-index="3"] {
    z-index: 4;
  }
  &[data-index="4"] {
    z-index: 3;
  }
  &[data-index="5"] {
    z-index: 2;
  }

  &:global(.red) {
    background: var(--red-background);
  }

  /* &:global(.blue) {
    background: var(--blue-foreground);
  }

  &:global(.pink) {
    background: var(--pink-foreground);
  } */

  &:global(.yellowRed) {
    background: #EF3A33;
  }

  &:global(.yellowPurple) {
    background: #B200A1;
  }

  &:global(.yellowGreen) {
    background: #009460;
  }

  &:global(.yellowBlue) {
    background: #1B2B79;
  }
}

.widthLinesRight,
.widthLinesLeft {
  position: absolute;
  bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.widthLinesRight {
  left: 50%;
  transform: translate(
    calc(var(--variable-lines-font-size) * var(--letter-ratio-min) / 2),
    0
  );
  width: calc(
    var(--variable-lines-font-size) * (var(--letter-ratio-max) - 0.609) / 2
  );
}

.widthLinesLeft {
  right: 50%;
  transform: translate(
      calc(var(--variable-lines-font-size) * var(--letter-ratio-min) / -2),
      0
    )
    scaleX(-1);
  width: calc(
    var(--variable-lines-font-size) * (var(--letter-ratio-max) - 0.6072106262) /
      2
  );
}

.widthLine {
  height: 12px;
  width: 1px;
  background-color: var(--foreground);
  opacity: 0.1;
  transition: opacity 0.2s ease;

  &.active {
    opacity: 0.8;
  }
}

.letters {
  font-size: var(--variable-lines-font-size);
  width: 1.0880125em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  cursor: default;
  position: absolute;
  text-align: center;
  line-height: 1;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 0.00625em var(--foreground);

  /* &.mainLetter { 
    color: var(--foreground-shade-30);
    opacity: 0.6;
  } */

  &.letter1 {
    /* opacity: 0.3; */
    /* -webkit-text-stroke: 5px #333333; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-30);
  }

  &.letter2 {
    /* opacity: 0.2; */
    /* -webkit-text-stroke: 5px #1a1a1a; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-20);
  }

  &.letter3 {
    /* opacity: 0.1; */
    /* -webkit-text-stroke: 5px #0d0d0d; */
    -webkit-text-stroke: 0.00625em var(--foreground-shade-10);
  }
}

.editor {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* background: var(--foreground-shade-30); */
  /* background: var(--foreground); */
}

p.editableArea {
  width: 100%;
  font-size: 80px;
  text-align: center;
  line-height: 0.75;
  /* color: var(--background); */

  &::selection {
    color: var(--foreground-shade-30);
    /* opacity: 0.5; */
  }

  &:focus {
    outline: none;
  }

  @media screen(md) {
    font-size: 150px;
  }

  &:empty:before {
    content: "Type...";
    cursor: pointer;
    color: var(--foreground-shade-30);
  }
}

.prose {
  container-type: inline-size;
  container-name: prose;
}

.prose * {
  /* color: var(--foreground) !important; */
}

@container prose (min-width: 100px) {
  h1.left, h1.right {
    font-size: 12.75cqw;
    line-height: 100%;
  }

  h1.left.small, h1.right.small {
    font-size: 8.375cqw;
    line-height: 100%;
  }
}

.arrowContainer {
  > path {
    stroke: var(--background);
  }
}

.arrow {
  > rect {
    fill: var(--foreground);
  }

  > path {
    fill: var(--background);
  }
  
  animation: arrow 2.5s infinite cubic-bezier(0.25, 0, 0, 1);
  animation-direction: normal;
}
@keyframes arrow {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(14px);
  }
  75% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(0px);
  }
 
}